@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome";
span {
  display: block;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

.ck-editor__editable_inline {
  min-height: 300px;
}
