@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome";
@import './admin/partials/variables';
@import './admin/partials/header';
@import './admin/partials/aside';
@import './admin/partials/table';
@import './admin/partials/dishes';
@import './partials/typography';

body {
  font-family: $primary_font, $secondary_font, $tertiary_font;
}

main{
  height: calc(100vh - 76px);
  background-image: url('/public/img/Ghosts_Bg_2.png');
  .content-wrapper{
    background-color: rgba($custom_white, $alpha: 0.95);
  }
}

@media screen and (max-width: 991px) {
  main{
    height: calc(100vh - 80px);
  }
}

.search_dishes{
  border: 2px solid grey;
  border-radius: 15px;
  overflow: hidden;
  padding: 0 10px;
  background-color: white;
  input, button{
    border: none;
  }
  &:hover button{
    color: brown;
  }
}

.ck-editor__editable_inline {
  min-height: 300px;
}
