@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome";
span {
  display: block;
}

p {
  margin: 0;
}

.search_dishes{
  border: 2px solid grey;
  border-radius: 15px;
  overflow: hidden;
  padding: 0 10px;
  background-color: white;
  input, button{
    border: none;
  }
  &:hover button{
    color: brown;
  }
}

img {
  width: 100%;
}

.ck-editor__editable_inline {
  min-height: 300px;
}
