.boo-wrapper{
  height: 100%;
  overflow-y: auto;
  border-radius: 2rem;
  background-color: white;
  padding: 1.5rem 3rem;
  box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.statistics{
  height: 80%;
}
@media screen and (max-width: 500px) {
  .boo-wrapper{
    padding: 1.5rem 0.4rem;
  }
}
