.boo-wrapper{
  height: 100%;
  overflow-y: auto;
  border-radius: 2rem;
  background-color: white;
  padding: 1.5rem 3rem;
  box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.orders,.dishes,.totorder
{
    margin-bottom: 10px;
    text-align: center;
}
.counter-count, .counter-count-animate
{
    font-size: 14px;
    background-color: $tertiary_color;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 65px;
    width: 65px;
    height: 65px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}
.counter-count{
  font-size: 12px;
}
.orders-p,.dishes-p,.totorder-p
{
    font-size: 20px;
    color: $custom_gray;
    & span{
      font-size: 14px;
    }
}
.statistics{
  height: 70%;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .statistics{
    height: 70%;
    width: 750px;
  }
}

@media screen and (max-width: 1130px) {
  .statistics{
    height: 60%;
    width: 550px;
  }
}
@media screen and (max-width: 1010px) {
  .statistics{
    height: 50%;
  }
}
@media screen and (max-width: 900px) {
  .statistics{
    height: 40%;
    width: 400px;
  }
  .select-container{
    width: 50% !important;
  }
}
@media screen and (max-width: 767px) {
  .statistics{
    height: 50%;
    width: 550px;
  }
}
@media screen and (max-width: 655px) {
  .container{
    overflow: scroll;
  }
  .counter-count, .counter-count-animate{
    line-height: 65px;
    width: 65px;
    height: 65px;
    font-size: 12px;
  }
  .orders-p,.dishes-p,.totorder-p
{
    font-size: 14px;
}
  .statistics{
    height: 40%;
    width: 400px;
  }
}
@media screen and (max-width: 519px) {
  .row{
    flex-direction: column;
    .col-6{
      width: 100%;
    }
  }
  .statistics{
    height: 30%;
    width: 330px;
  }
}
@media screen and (max-width: 410px) {
  .main-content-wrapper{
    padding-left: 10px !important;
  }
  .statistics{
    height: 15%;
    width: 250px;
  }
}
