@import '/node_modules/@fontsource-variable/josefin-sans/wght-italic.css';
@import '/node_modules/@fontsource-variable/lexend/wght.css';

// TEXT VARIABLES

// Fonts
$primary_font: 'Lexend Variable';
$secondary_font: 'Josefin Sans Variable';
$tertiary_font: 'sans-serif';
